@using WebEcommerce.Models
@model WebEcommerce.Models.HomeViewModel

@{
    ViewBag.Title = "Accueil";
}

<br>
@Html.ActionLink("Produits", "Index", "Produit")

<ul>
    @foreach (var produit in Model.ListeProduits)
    {
        <li>
            @produit.Libelle -- @produit.Prix €
        </li>
    }
</ul>
<ul>
    @foreach (var commande in Model.ListeCommandes)
    {
        <li>
            @commande.Client -- @commande.DateCommande
        </li>
    }
</ul>

<br>

@using (Html.BeginForm("list", "Produit", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Echec lors de la saisie de la recherche")

    <div>
        @Html.Label("Nom du produit")
        @Html.TextBox("NomProduit", "", new { name = "NomProduit" })
    </div>

    <input type="submit" value="valider" />
}