@using Modele.e_commerce.Modele.Entities
@model List<Produit>
@{
    ViewBag.Title = "Liste des produits";

}

<h1 class="titleProduct">Liste des produits</h1>

@foreach (var produit in Model)
{
    <div class="row">
        <div class="col-md-4">@Html.ActionLink(@produit.Libelle, "GetProduit", new {id = @produit.IDProduit}, null)</div>
        <div class="col-md-4">@produit.Prix €</div>
        <div class="col-md-2">@Html.ActionLink("Modifier", "modif", new { id = @produit.IDProduit }, new { @class = "btn btn-default", role = "button" })</div>
        <div class="col-md-2">@Html.ActionLink("Supprimer", "supp", new { id = @produit.IDProduit }, new { @class = "btn btn-default", role = "button" })</div>
    </div>
}